body {
  background:#121212;
  color:white;
  font-family:Arial;
  padding:20px;
}

.hidden {
  display:none;
}

input, button {
  width:100%;
  padding:6px;
  margin:4px 0;
}

button {
  background:#6c63ff;
  border:none;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.perfil {
  text-align:center;
}

.perfil img {
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  background:#333;
  display:block;
  margin:0 auto 6px;
}

.barra-container {
  background:#444;
  height:14px;
  border-radius:7px;
  overflow:hidden;
}

.barra {
  height:100%;
}

.vida {
  background:#4caf50;
}

.sanidade {
  background:#2196f3;
}

.atributo {
  display:flex;
  align-items:center;
  gap:6px;
}

.atributo input {
  width:60px;
}
