* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;

    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 420px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding: 14px;
    margin-top: 5px;
    font-size: 16px; /* evita zoom no celular */
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

#resultado {
    margin-top: 25px;
    font-size: 22px;
}

/* Ajustes para PC */
@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 32px;
    }
}
