body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #c75eff;
  padding: 10px;
  max-width: 420px;
  margin: auto;
}

.hidden {
  display: none;
}

input, button {
  padding: 6px;
  margin: 4px;
}

button {
  cursor: pointer;
}

.perfil {
  text-align: center;
  margin: 10px 0;
}

.perfil img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  cursor: pointer;
}

.barra {
  margin: 10px 0;
}

.barra-externa {
  width: 100%;
  height: 14px;
  background: #333;
  border-radius: 6px;
}

.barra-interna {
  height: 100%;
  border-radius: 6px;
}

.vida {
  background: red;
}

.sanidade {
  background: blue;
}

.atributo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

.atributo span {
  flex: 1;
}

.atributo input {
  width: 45px;
}

.atributo button {
  width: 32px;
}
