body {
    background: #121212;
    color: white;
    font-family: Arial;
    padding: 20px;
}

section {
    max-width: 720px;
    margin: auto;
}

input, button {
    padding: 5px;
    font-size: 14px;
    margin-top: 4px;
}

button {
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 6px;
}

.input-mini {
    width: 32%;
}

.oculto {
    display: none;
}

/* PERFIL */
.perfil {
    text-align: center;
}
.perfil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #333;
    object-fit: cover;
}

/* BARRAS */
.barra-container {
    width: 100%;
    height: 16px;
    background: #444;
    border-radius: 10px;
    overflow: hidden;
}
.barra {
    height: 100%;
}
.vida { background: #4caf50; }
.sanidade { background: #2196f3; }

/* ATRIBUTOS */
.atributos div {
    display: flex;
    align-items: center;
    gap: 6px;
}
.atributos span {
    flex: 1;
}

@media (max-width: 600px) {
    .input-mini {
        width: 100%;
    }
}
